<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TO-Do</title>
</head>
<body>
    <h1>Hello, This is To-do List</h1>
    <form action="/add" method="post">
        <input type="text" placeholder="enter to do" name="todo">
        <button type="submit">Add</button>
       </form>

       <ul>
        <% if (todos.length === 0) { %>
          <li>No tasks yet</li>
        <% } else { %>
          <% todos.forEach((todo, index) => { %>
            <li><%= todo %>
            <form action="/delete" method="post">
             <input type="hidden" name="index" value="<%= index %>">
             <button type="submit">Delete</button>
            </form>
  
            <button onclick="editTodo('<%= index %>', '<%= todo %>')">Edit</button>
         
            </li>
          <% }) %>
        <% } %>
      </ul>


      <form id="editForm" action="/edit" method="post">
        <input type="hidden" name="index" id="editIndex">
        <input type="hidden" name="newValue" id="editValue">
       </form>
</body>
</html>

<script>
    function editTodo(index, todo) {
        let newValue = prompt("type here", todo)
        document.getElementById("editIndex").value = index;
        document.getElementById("editValue").value = newValue;
        document.getElementById("editForm").submit();
    }
</script>